<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Druga strona</title>
</head>
<body>
    <h2>To jest druga strona</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet est lacus, et eleifend quam placerat sed. Donec pulvinar eleifend porta. Nunc ut ligula ut augue pulvinar luctus eu et nisl. Duis volutpat sagittis ante a egestas. In rutrum rhoncus nisi, sit amet tincidunt magna interdum a. Sed in quam tempor, pellentesque est eget, molestie sapien. Aenean sollicitudin convallis nisl id egestas. Ut id eros odio. Nullam erat urna, malesuada sit amet nisi sit amet, condimentum scelerisque tortor. Etiam quis tristique dui. Donec at felis sapien. Curabitur aliquam turpis nec imperdiet gravida. Mauris sit amet lacus vitae elit dapibus faucibus sodales et sapien. Morbi interdum sit amet justo at consequat.

    Vestibulum porttitor libero in dolor pharetra, vel tristique nibh venenatis. Nulla facilisi. Donec fermentum magna eget malesuada varius. Ut imperdiet ligula quis ullamcorper imperdiet. In convallis neque quis laoreet malesuada. In fermentum orci a lacus molestie cursus. Sed interdum leo ut dui semper efficitur ut quis nibh. Cras lacinia ligula sit amet nunc fringilla luctus. Sed ac lectus ut lacus posuere hendrerit.

    Duis quis dapibus ligula. Nam placerat neque et augue molestie porttitor. Mauris nec interdum erat. Praesent ut pharetra nunc. Aliquam bibendum, dui sed porta pellentesque, mauris turpis pretium sem, quis viverra nisl nunc vitae mi. Nam auctor convallis pharetra. Suspendisse pellentesque diam nisl, sed vulputate lorem mattis id. Curabitur sit amet enim porttitor, sollicitudin libero eget, scelerisque ante. Aliquam consectetur felis tellus, vel rhoncus libero aliquam sed. Aenean sollicitudin sapien eget bibendum porttitor. Sed nisi velit, interdum eget libero a, rutrum facilisis neque. Sed cursus, nisl feugiat mattis facilisis, neque ex tincidunt leo, sed sollicitudin augue magna rutrum nibh. Aenean viverra dui vel magna iaculis varius. Quisque ultrices ac ante vitae lobortis.

    In sit amet porttitor ante, a cursus felis. Nam sed purus ex. Aliquam a urna sollicitudin, efficitur sem nec, imperdiet lectus. Nullam at sollicitudin tellus, eget pulvinar urna. Suspendisse dapibus, lorem sed bibendum interdum, urna ligula porta massa, molestie gravida purus dui nec enim. Integer pellentesque odio eget massa dignissim, nec malesuada ex suscipit. Pellentesque gravida augue ex, nec tempor purus posuere sit amet. Fusce risus massa, consequat eu pharetra sit amet, commodo sit amet nisl. Sed sit amet consequat risus, iaculis commodo nisl.

    Integer facilisis ultricies nisi, in fermentum ex porttitor eget. Aenean dictum consequat sollicitudin. Curabitur consectetur elit lorem, maximus viverra erat ultrices nec. Vivamus sit amet aliquet ante. Sed faucibus ac arcu ac bibendum. Vestibulum ac lorem pulvinar, commodo erat a, interdum sem. Duis tincidunt nibh in enim ullamcorper, quis fermentum leo sodales. Nullam elit nulla, porttitor id ullamcorper sed, commodo mattis quam. Duis faucibus magna a metus dictum, in eleifend leo posuere. Morbi aliquet, neque eu eleifend hendrerit, diam lectus laoreet dolor, ut porta leo purus et dolor. Nullam porta convallis ligula vitae molestie.
<!--    <p>Przejdź do strony <a href="/links/first/">pierwszej</a></p>-->
<!--    <p>Przejdź do strony <a href="{% url 'first' %}">pierwszej</a></p>-->

<!--    linki dynamiczne z parametrem -->
    <p>Przejdź do strony <a href="{% url 'links:third' 'abc' %}">trzeciej</a></p>
</body>
</html>