ul {
    list-style-type: none;
    justify-content: center;
    margin-left: 45%;

}

li {
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: black;
    width: 200px;

}